/* Home styles */
/* ----------------------------------------------------------*/

.site-hero {
  padding-top: 100px;
}
.hero-wrapper {
  text-align: center;

  h1 {
    font-size: 64px;
    font-weight: 200;
  }

  p {
    color: $gray-light;
    font-size: 18px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
  }

  hr {
    width: 220px;
    height: 0;
    margin: 50px auto;
    border: 0;
    border-top: 1px solid $border-color;
  }
}

.home {
  margin: 0 0 80px;
}

.posts {
  list-style-type: none;
  text-align: left;

  > li {
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid $border-color;

    &:last-child {
//      border-bottom: 0;
    }
  }

  > li > a {
    text-decoration: none;
  }

  .category-icon {
    position: absolute;
    right: 0;
    top: 60px;
    width: 36px;
    height: 36px;
    background-size: 108px 36px;
    background-image: url('/images/icons@2x.png');

    &.idea {
      background-position: 0 0;
    }
    &.development {
      background-position: -36px 0;
    }
    &.design {
      background-position: -72px 0;
    }
  }

  .post-title {
    margin-top: 4px;
    margin-bottom: 8px;
    color: $dark;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1;
  }

  .post-date {
    display: block;
    font-size: 15px;
    color: $gray-light;
    -webkit-font-smoothing: antialiased;
  }

  .post-summary {
    font-size: 16px;
    color: rgba(0,0,0,.6);
    -webkit-font-smoothing: antialiased;
  }
}


.pagination {
  position: relative;
  padding: 32px 0;
  text-align: center;
  border-bottom: 1px solid $border-color;

  .pagination-previous, .pagination-next, .pagination-page {
    display: inline-block;
    width: 98px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: $dark;
    text-decoration: none;
    border: 1px solid #D8D8D8;
    background-color: #eee;
    &.selected {
      background-color: #666;
      color: white;
      border: 1px solid $dark;
    }
  }

  .pagination-previous, .pagination-next {
    position: absolute;
    width: 98px;
    height: 36px;
  }

  .pagination-previous {
    left: 0;
  }

  .pagination-next {
    right: 0;
  }

  .pagination-page {
    width: 36px;
    height: 36px;
  }
}
